[submodule "viewer/mapviz"]
	path = viewer/mapviz
	url = git@github.com:swri-robotics/mapviz.git
[submodule "viewer/rviz_satellite"]
	path = viewer/rviz_satellite
	url = git@github.com:nobleo/rviz_satellite.git
