[submodule "viewer/src/mapviz"]
	path = viewer/src/mapviz
	url = git@github.com:swri-robotics/mapviz.git
[submodule "viewer/src/rviz_satellite"]
	path = viewer/src/rviz_satellite
	url = git@github.com:nobleo/rviz_satellite.git
