[Unit]
Description=cyclosafe daemon
After=gpiod.service
Requires=gpiod.service
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
User=npirard
Restart=on-failure
EnvironmentFile=/home/npirard/cyclosafe/setup/.env
ExecStart=/bin/bash -c "source $CYCLOSAFE_WORKSPACE/setup/.bashrc; ros2 launch cyclosafe cyclosafe.launch.py record:=true save:=false"
TimeoutStopSec=5
KillMode=mixed
KillSignal=SIGINT
RestartKillSignal=SIGINT
SendSIGKILL=yes

[Install]
WantedBy=multi-user.target
