[Unit]
Description=cyclosafe daemon
After=gpiod.service
Requires=gpiod.service
StartLimitIntervalSec=150
StartLimitBurst=3

[Service]
Type=simple
User=cycliste
Restart=on-failure
RestartSec=5
EnvironmentFile=/home/cycliste/cyclosafe/core/setup/.env
ExecStart=/bin/bash -c "source $SCRIPTS_PATH/launch_wrapper.sh"
TimeoutStopSec=5
KillMode=mixed
KillSignal=SIGINT
RestartKillSignal=SIGINT
SendSIGKILL=yes
KillMode=control-group

[Install]
WantedBy=multi-user.target
