[Unit]
Description=gpio daemon controlling led blinking, button press and battery monitoring
After=pigpiod.service
Requires=pigpiod.service
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
User=root
Restart=on-failure
EnvironmentFile=/home/npirard/cyclosafe/setup/.env
ExecStart=/bin/bash -c "source $SCRIPTS_PATH/gpio.sh"
TimeoutStopSec=1
KillMode=mixed
KillSignal=SIGKILL
SendSIGKILL=yes

[Install]
WantedBy=multi-user.target
