[Unit]
Description=Synchronisation de l'heure système via GPS
After=network.target
Wants=network.target

[Service]
Type=oneshot
EnvironmentFile=/home/cycliste/cyclosafe/core/setup/.env
ExecStart=/bin/bash -c "source $SCRIPTS_PATH/gps_time.sh"
RemainAfterExit=yes
StandardOutput=journal

[Install]
WantedBy=multi-user.target
